In [21]:
import os
import pandas as pd
from pyspark.sql import SparkSession
from pyspark.ml.feature import Imputer

In [22]:
CURR_DIR = os.path.abspath('')
DOC_NAME = os.path.join(CURR_DIR, '..', "docs", "employee_dataset2.csv")

In [23]:
df = pd.read_csv(DOC_NAME)
df_describe = df.describe()
print(df_describe)

             Salary
count     12.000000
mean   35783.333333
std    18683.042060
min     4500.000000
25%    32500.000000
50%    35600.000000
75%    45000.000000
max    65000.000000

In [24]:
spark = SparkSession.builder.appName('dataset2').getOrCreate()
df_pyspark = spark.read.csv(DOC_NAME, header=True, inferSchema=True)
df_pyspark.show()

+----+----------+------+
|Name|Department|Salary|
+----+----------+------+
| aaa|   Biology| 45000|
| bbb|   Physics| 65000|
| aaa| chemistry| 35000|
| ddd|     maths| 25000|
| lll|   Biology| 35000|
| fff|   Physics| 36200|
| ggg| chemistry|  4500|
| hhh|     maths| 35200|
| iii|   Physics|  4500|
| jjj| chemistry| 45000|
| aaa|   Biology| 36000|
| lll|   Physics| 63000|
+----+----------+------+

In [25]:
spark

In [26]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [30]:
## group by name
df_pyspark.groupBy('Name')

In [28]:
## group to find who gets max salary
df_pyspark.groupBy('Name').sum().show()

+----+-----------+
|Name|sum(Salary)|
+----+-----------+
| ddd|      25000|
| jjj|      45000|
| aaa|     116000|
| hhh|      35200|
| iii|       4500|
| lll|      98000|
| bbb|      65000|
| fff|      36200|
| ggg|       4500|
+----+-----------+

In [31]:
## group to find who gets max salary
df_pyspark.groupBy('Department').sum().show()

+----------+-----------+
|Department|sum(Salary)|
+----------+-----------+
| chemistry|      84500|
|     maths|      60200|
|   Physics|     168700|
|   Biology|     116000|
+----------+-----------+

In [32]:
 df_pyspark.groupBy('Department').mean().show()

+----------+------------------+
|Department|       avg(Salary)|
+----------+------------------+
| chemistry|28166.666666666668|
|     maths|           30100.0|
|   Physics|           42175.0|
|   Biology|38666.666666666664|
+----------+------------------+

In [33]:
 ## based on count
df_pyspark.groupBy('Department').count().show()

+----------+-----+
|Department|count|
+----------+-----+
| chemistry|    3|
|     maths|    2|
|   Physics|    4|
|   Biology|    3|
+----------+-----+

In [36]:
# same like grouping
df_pyspark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|     429400|
+-----------+

In [38]:
 ## max, min, avg
df_pyspark.groupBy('Department').max().show()

+----------+-----------+
|Department|max(Salary)|
+----------+-----------+
| chemistry|      45000|
|     maths|      35200|
|   Physics|      65000|
|   Biology|      45000|
+----------+-----------+